<!DOCTYPE html>
<html>

<head>
  <title>Node Blog</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<!-- nav bar -->
<div id='sidebar'>
  <div id='sidecontent'>
    <div id=sidelogo><a href='/'>Node Blog</a></div>
    <br><br>

    <a href='/users'>Users</a><br><br>
    <a href='/posts'>Posts</a><br><br>

    <br><br><br><br><br><br>
    <hr>

    <div id='sidelower'>
      <a href='/users/signup'>Sign Up</a>
    </div>
  </div>
</div>
<div class="main">