<%- include('header') -%>

<h1>Sign Up</h1>
<form method="post" action="/users/signup">
    <label for="username">Username: </label><br>
    <input type="text" id="username" name="username"><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email"><br><br>
    <button id="btnSubmit" type="submit">Submit</button>
</form>
<%- include('footer') -%>