<%- include('header') -%>

<h1>User List</h1>
<ul>
  <%
    var list = '';
    for (i = 0; i < users.length; i++) {
      list += '<li>' + users[i].username + ': ' + users[i].email + '</li>';
    }
  %>
  <%- list %>
</ul>

<%- include('footer') -%>